<div class="post">
  <div class="post__header">
    <h1>Post Title</h1>
    <button routerLink="/"
            class="btn btn-link"
    >
      Go to the main page
    </button>
  </div>
  <div class="post__info">
    <strong class="post__author">Author here</strong>
    <small>06.05.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, atque?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, sit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, non.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repellendus.</p>
  </div>
</div>
